<div class="container3">
  <%= form_with(url: search_rekaizens_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タイトル・URLのどちらかを入力してください", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <h3 class="first1">Re:kaizen(リカイゼン)</h3>
        <h4>〜スクレイピング　CSVファイル一覧〜</h4>
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
          <%= link_to '取得', new_rekaizen_path, class: "btn btn-primary pull-right btn-size" %>
        </div>
        <table class="table table-striped">
          <thead>
            <th>タイトル</th>
            <th>URL</th>
            <th>添付ファイル</th>
            <th>編集</th>
            <th>削除</th>
          </thead>
          <tbody>
            <% @rekaizens.each do |rekaizen| %>
              <% if current_user.id == rekaizen.user_id %>
                <tr>
                  <td><%= rekaizen.rekaizen_name %></td>
                  <td><%= rekaizen.rekaizen_url%></td>
                  <td>
                    <% if rekaizen.csv_file.attached? %>
                      <%= link_to rekaizen.csv_file.filename, rails_blob_path(rekaizen.csv_file) %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to '編集', edit_rekaizen_path(rekaizen), class: "btn btn-primary btn-xs" %>
                  </td>
                  <td>
                    <%= link_to '削除', rekaizen_path(rekaizen), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？'}, class: "btn btn-primary btn-xs" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= paginate @rekaizens %>
      </div>
    </div>
  </div>
</div>
