<div class="container3">
  <%= form_with(url: search_aimitsus_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タイトル・URLのどちらかを入力してください", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <h3 class="first2">アイミツ</h3>
        <h4>〜スクレイピング　CSVファイル一覧〜</h4>
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
          <%= link_to '取得', new_aimitsu_path, class: "btn btn-primary pull-right btn-size" %>
        </div>
        <table class="table table-striped">
          <thead>
            <th>タイトル</th>
            <th>URL</th>
            <th>添付ファイル</th>
            <th>編集</th>
            <th>削除</th>
          </thead>
          <tbody>
            <% @aimitsus.each do |aimitsu| %>
              <% if current_user.id == aimitsu.user_id %>
                <tr>
                  <td><%= aimitsu.aimitsu_name %></td>
                  <td><%= aimitsu.aimitsu_url%></td>
                  <td>
                    <% if aimitsu.csv_file.attached? %>
                      <%= link_to aimitsu.csv_file.filename, rails_blob_path(aimitsu.csv_file) %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to '編集', edit_aimitsu_path(aimitsu), class: "btn btn-primary btn-xs" %>
                  </td>
                  <td>
                    <%= link_to '削除', aimitsu_path(aimitsu), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？'}, class: "btn btn-primary btn-xs" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= paginate @aimitsus %>
      </div>
    </div>
  </div>
</div>
