<div class="container3">
  <%= form_with(url: search_imitsus_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "タイトル・URLのどちらかを入力してください", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <h3>アイミツSaaS 一覧</h3>
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
          <%= link_to '取得', new_imitsu_path, class: "btn btn-primary pull-right btn-size" %>
        </div>
        <table class="table table-striped">
          <thead>
            <th>タイトル</th>
            <th>URL</th>
            <th>添付ファイル</th>
            <th>編集</th>
            <th>削除</th>
          </thead>
          <tbody>
            <% @imitsu.each do |imitsu| %>
              <% if current_user.id == imitsu.user_id %>
                <tr>
                  <td><%= imitsu.imitsu_name %></td>
                  <td><%= imitsu.imitsu_url%></td>
                  <td>
                    <% if imitsu.csv_file.attached? %>
                      <%= link_to imitsu.csv_file.filename, rails_blob_path(imitsu.csv_file) %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to '編集', edit_imitsu_path(imitsu), class: "btn btn-primary btn-xs" %>
                  </td>
                  <td>
                    <%= link_to '削除', imitsu_path(imitsu), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？'}, class: "btn btn-primary btn-xs" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= paginate @imitsus %>
      </div>
    </div>
  </div>
</div>

